trigger:
    batch: true
    branches:
        include:
            - 'main'

variables:
    WASABI_LOG_FRIENDLY: 1

jobs:
    - job: 'Test'
      strategy:
          matrix:
              Python37Linux:
                  imageName: 'ubuntu-latest'
                  python.version: '3.8'
              Python37Windows:
                  imageName: 'windows-latest'
                  python.version: '3.8'
          maxParallel: 4
      pool:
          vmImage: $(imageName)

      steps:
          - task: UsePythonVersion@0
            inputs:
                versionSpec: '$(python.version)'
                architecture: 'x64'

          - script: |
                pip install pytest
                pip install wheel
                pip install -r requirements.txt
            displayName: 'Install dependencies'

          - script: |
              export PYTHONPATH=scripts
              python -m pytest
            displayName: 'Run pytest'