spacy @ git+https://github.com/explosion/spaCy.git@feature/prototype-el-with-custom-kb
pyyaml
tqdm
prettytable
annoy
sqlite-spellfix @ git+https://github.com/rmitsch/sqlite-spellfix.git@fix/windows-build